<div class="ui vertical segment" style="margin-top:2em;">
  <div class="ui middle container">
      <h2 class="ui teal image header">
        Log-in
      </h2>
    
      <form class="ui form" method="post">
      <div class="field">
        <label>User name</label>
        <input type="text" name="username" placeholder="please enter your name" required/>
      </div>
      <div class="field">
        <label>password</label>
        <input type="password" name="password" placeholder="please enter your password" required/>
      </div>

      <button class="ui button" type="submit">Submit</button>
    </form>
  </div>
</div>