<div class="ui vertical stripe segment" style="margin-top:2em;">
	<div class="ui middle container">
	  <h2 class="ui teal image header">
         	Public your comments
      </h2>
      <form class="ui form" method="post">
      <div class="field">
        <label>title</label>
        <input type="text" name="title" placeholder="Enter your comment's title" required/>
      </div>
      <div class="field">
        <label>content</label>
        <textarea name="content" cols="30" rows="10" placeholder="Enter your comment here" required></textarea>
      </div>

      <button class="ui button" type="submit">Public</button>
    </form>
	</div>
</div>
