// reset
body,div,h1,h2,h3,h4,h5,p,a,ul,dl,ol{
    margin:0;padding:0;
}
@import "table";
ul{
    list-style-type: none;
}
$azure: rgb(0,188,212);
body{
    font-size: 16px;
}
#app{
    width:100%;
    min-height:100%;
    position:absolute;
}
.wrapper{
    padding-bottom: 4rem;
}
.banner{
    width:100%;
    height:16rem;
    background: radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
    background: -webkit-radial-gradient(ellipse  at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #00838f 100%);
    // background: linear-gradient(to bottom right, #FFF, #00838f);
    position:relative;
    text-align: center;
    overflow: hidden;
    h1{
        position:absolute;
        top:80px;
        width:100%;
        color:lighten(#000,10%);
        font-size: 2.4rem;
        margin-bottom: 20px;
        z-index:9;
    }
    h2,.subTitle{
        position:absolute;
        top:140px;
        width:100%;
        z-index:9;
    }
    h2{
        color:#000;
        font-size: 1.4rem;
        line-height: 2rem;
        text-shadow: 4px 4px 4px #59a5ad;
    }
    .wave{
        background: url('../styles/wave.svg') repeat-x;
        position: absolute;
        bottom:-30px;
        width: 6400px;
        height: 198px;
        animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
        transform: translate3d(0, 0, 0);
        z-index:1;
    }
    .wave:nth-of-type(2) {
      bottom:-36px;
      animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
      opacity: 1;
    }
}
@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}
.post-list{
    li{
        border-bottom:#CCC solid 1px;
        padding:.6rem 1.2rem;
        overflow: hidden;
        &:last-child{
            margin-bottom: 0;border-bottom: none;
        }
        h5{
            font-size: 1.2rem;
            line-height: 1.8rem;
            font-weight: normal;
        }
        p{
            font-size: .8rem;
            line-height: 1rem;
        }
        span{
            float:right;
            font-size: .8rem;
            color:#555;
        }
    }
}
.form-box{
    padding:1.2rem;
    text-align: center;
    h1{
        font-size: 1.6rem;
    }
    .submit-hint{
        margin-left: 1rem;font-size: .8rem;
    }
}
.public-box{
    text-align: left;
}
.list-wrap{
    padding:1.2rem;
}
.footer{
    position:absolute;
    left:0;bottom:0;
    width:100%;
    height:4rem;
    box-sizing: border-box;
    padding:1.2rem;
    background-color: $azure;
    color:#FFF;
}
