// reset
body,div,h1,h2,h3,h4,h5,p,a,ul,dl,ol{
    margin:0;padding:0;
}
@import "table";
ul{
    list-style-type: none;
}
$azure: rgb(0,188,212);
body{
    font-size: 16px;
}
#app{
    width:100%;
    min-height:100%;
    position:absolute;
}
.wrapper{
    padding-bottom: 4rem;
}
.banner{
    width:100%;
    height:16rem;
    background-color: #00838f;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    h1{
        color:#FFF;
        font-size: 2rem;
        margin-bottom: 20px;
    }
    h2{
        color:darken(#FFF,20%);
        font-size: 1.4rem;
        line-height: 2rem;
    }
}
.post-list{
    li{
        border-bottom:#CCC solid 1px;
        padding:.6rem 1.2rem;
        overflow: hidden;
        &:last-child{
            margin-bottom: 0;border-bottom: none;
        }
        h5{
            font-size: 1.2rem;
            line-height: 1.8rem;
            font-weight: normal;
        }
        p{
            font-size: .8rem;
            line-height: 1rem;
        }
        span{
            float:right;
            font-size: .8rem;
            color:#555;
        }
    }
}
.form-box{
    padding:1.2rem;
    text-align: center;
    h1{
        font-size: 1.6rem;
    }
    .submit-hint{
        margin-left: 1rem;font-size: .8rem;
    }
}
.public-box{
    text-align: left;
}
.list-wrap{
    padding:1.2rem;
}
.footer{
    position:absolute;
    left:0;bottom:0;
    width:100%;
    height:4rem;
    box-sizing: border-box;
    padding:1.2rem;
    background-color: $azure;
    color:#FFF;
}
